<form ng-show="!currentUserId" ng-submit="submit()">
    <input ng-model="user.username" type="text" name="user" placeholder="Username">
    <input ng-model="user.password" type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
</form>

<div ng-show="currentUserId">
  <p>Hello {{currentUserId}}!</p>
  <form ng-show="currentUserId" class="form-horizontal" role="form" ng-submit="logout()">
    <input type="submit" class="btn btn-primary" value="Logout" />
  </form>
</div>

<div class="phone-images">
  <img ng-src="{{pic.image_url}}" class="phone">
</div>

<h1>{{pic.title}}</h1>
<p>{{pic.description}}</p>
<p>Likes: {{pic.liked.length}}</p>

<form ng-show="currentUserId" class="form-horizontal" role="form" ng-submit="likePic()">
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input type="submit" class="btn btn-primary" value="Like" ng-disabled="checkLiked()"/>
  </div>
</div>
</form>

<ul class="specs">
  <li>
    <span>Battery</span>
    <dl>
      <dt>Type</dt>
      <dd>{{pic.battery.type}}</dd>
      <dt>Talk Time</dt>
      <dd>{{pic.battery.talkTime}}</dd>
      <dt>Standby time (max)</dt>
      <dd>{{pic.battery.standbyTime}}</dd>
    </dl>
  </li>
</ul>

<ul class="phone-thumbs">
  <p>Comments:</p>
  <li ng-repeat="comment in comments">
    <p>{{comment.userid}} wrote:</p>
    <p>{{comment.body}}</p>
  </li>
</ul>


<form ng-show="currentUserId" class="form-horizontal" role="form" ng-submit="addComment()">
<div class="form-group">
  <label for="title" class="col-sm-2 control-label">Body</label>
  <div class="col-sm-10">
    <input type="text" ng-model="newComment.body" class="form-control" id="body" placeholder="Comment Body here"/>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <input ng-disabled="!newComment.body" type="submit" class="btn btn-primary" value="Post"/>
  </div>
</div>
</form>
